@model Discount

<form asp-action="@Model.Id == 0 ? " Create" : "Edit" ">
    <div>
        <label asp-for="Code"></label>
        <input asp-for="Code" />
    </div>
    <div>
        <label asp-for="Amount"></label>
        <input asp-for="Amount" />
    </div>
    <button type="submit">Save</button>
</form>

<a asp-action="Index">Back to List</a>
