<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            @* ======================== Quản lý đơn hàng =====================*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Quản lý đơn hàng</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-controller="AdminOrder" asp-action="Index">Quản lý hóa đơn</a>
                    </li>
                    
                </ul>
            </li>


            @* ======================== Quản lý sản phẩm =====================*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-build"></i>
                    </span>
                    <span class="title">Quản lý sản phẩm</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="AdminProduct" asp-action="Index">Danh sách sản phẩm</a>
                    </li>
                </ul>
            </li>


            @* ======================== Quản lý khách hàng =====================*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-hdd"></i>
                    </span>
                    <span class="title">Quản lý tài khoản</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="AdminAccount" asp-action="Index">Danh sách tài khoản</a>
                    </li>
                    <li>
                        <a href="carousel.html">Tìm kiếm khách hàng</a>
                    </li>
                </ul>
            </li>


            @* ======================== Quản lý doanh số =====================*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-form"></i>
                    </span>
                    <span class="title">Doanh số</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="form-elements.html">Sản phẩm bán chạy</a>
                    </li>                  
                </ul>
            </li>


            @* ======================== Quản lý hệ thống =====================*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-table"></i>
                    </span>
                    <span class="title">Quản lý hệ thống</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="AdminCategory" asp-action="Index">Quản lý danh mục</a>
                        <a asp-area="Admin" asp-controller="AdminDiscount" asp-action="Index">Quản lý khuyến mãi</a>
                    </li>                    
                </ul>
            </li>


            @* ======================== Quản lý pages =====================*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-file"></i>
                    </span>
                    <span class="title">Quản lý pages</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="AdminBanner" asp-action="Index">Quản lý banner</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>